
<!-- Chatbot button -->
<button class="chatbot-button" (click)="toggleChatbot()">
    <i class="fa fa-comments" aria-hidden="true"></i>
  </button>
    <!-- Chatbot container -->
    <div class="card" *ngIf="showChatbot">
        <router-outlet></router-outlet>   <div class="menu">
            <button class="menu-button" (click)="navigateTo('home')"><i class="fa fa-home"></i>Home</button>
            <button class="menu-button" (click)="navigateTo('messages')"><i class="fa fa-comment" aria-hidden="true"></i>Messages</button>
            <button class="menu-button" (click)="navigateTo('help')"><i class="fa fa-question-circle" aria-hidden="true"></i>Help</button>
        </div>

    </div>